<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="http://vk.com/js/api/openapi.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  <div id="map"></div>

  {{!-- <div id="opinion" class="opinion">
    <div class="opinion__header">
      <div class="opinion__marker"></div>
      <div class="opinion__adress"></div>
      <div class="btn-exit"></div>
    </div>
    <div class="opinion__body">
      <div class="opinion__comment-outer"></div>
      <div class="opinion__title">Ваш отзыв</div>
      <div class="input-wrap">
        <input type="text" name="name" placeholder="Ваше имя">
      </div>
      <div class="input-wrap">
        <input type="text" name="place" placeholder="Укажите место">
      </div>
      <div class="input-wrap">
        <textarea name="comment" cols="30" rows="5" placeholder="Поделитесь впечатлениями"></textarea>
      </div>
      <div class="btn__wrap">
        <div class="btn-add">Добавить</div>
      </div> 
    </div>
  </div> --}}
</body>
</html>
